# Virtual Environments
venv/
.venv/
env/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Sensitive Data & Environment Variables
.env
*.pem

# IDE & OS Metadata
.vscode/
.idea/
.DS_Store
Thumbs.db